.bg {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

    @media(max-width: 480px) {
        text-align: center;
        margin: 0 8px;
    }

    .title {
        margin: 0 0 20px 0;
        font-size: clamp(3.75rem, 1.0833rem + 13.3333vw, 5rem);
    }

    .weatherForm {
        max-width: 500px;
        width: 100%;

        .city {
            padding: 10px 20px;
            width: 100%;
            display: block;
            text-align: center;
            font-weight: 500;
            outline: none;
            border-radius: 15px;
            border: none;
            font-size: 18px;
        }

    }

    .loader {
        display: none;

    }

    .apiData {
        margin: 10px 0 0 0;

        .mainInfo {
            display: flex;
            background-color: $primaryBgColor;
            padding: 30px;
            color: $mainInfoTextColor;
            border-radius: 10px;

            @media (max-width: 480px) {
                flex-direction: column;
                align-items: center;
            }

            .degrees {
                display: flex;
                font-size: 40px;
                margin: 0 20px;

                span {
                    font-size: 14px;
                    margin: 0 0 0 10px;
                }
            }

            .info {
                p {
                    margin: 0 0 4px 0;

                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
        }

        .days {
            margin: 10px 0 0 0;
            background-color: $primaryBgColor;
            border-radius: 10px;
            padding: 0 10px 10px 10px;

            @media (max-width: 480px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .forecastTitle {
                color: $mainInfoTextColor;
                font-size: 30px;
                margin: 2px 2px 20px 2px;
                text-align: center;
            }

            .forecastDay {
                display: flex;
                color: $mainInfoTextColor;
                justify-content: space-around;

                @media (max-width: 480px) {
                    flex-direction: column;
                }

                .dayContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @media (max-width: 480px) {
                        margin: 10px 0;
                    }

                }


            }
        }
    }
}