* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sansita Swashed", cursive;
}

.bg {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
@media (max-width: 480px) {
  .weather {
    text-align: center;
    margin: 0 8px;
  }
}
.weather .title {
  margin: 0 0 20px 0;
  font-size: clamp(3.75rem, 1.0833rem + 13.3333vw, 5rem);
}
.weather .weatherForm {
  max-width: 500px;
  width: 100%;
}
.weather .weatherForm .city {
  padding: 10px 20px;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 500;
  outline: none;
  border-radius: 15px;
  border: none;
  font-size: 18px;
}
.weather .loader {
  display: none;
}
.weather .apiData {
  margin: 10px 0 0 0;
}
.weather .apiData .mainInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.486);
  padding: 30px;
  color: #fff;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .weather .apiData .mainInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.weather .apiData .mainInfo .degrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  margin: 0 20px;
}
.weather .apiData .mainInfo .degrees span {
  font-size: 14px;
  margin: 0 0 0 10px;
}
.weather .apiData .mainInfo .info p {
  margin: 0 0 4px 0;
}
.weather .apiData .mainInfo .info p:last-of-type {
  margin: 0;
}
.weather .apiData .days {
  margin: 10px 0 0 0;
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 10px;
  padding: 0 10px 10px 10px;
}
@media (max-width: 480px) {
  .weather .apiData .days {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.weather .apiData .days .forecastTitle {
  color: #fff;
  font-size: 30px;
  margin: 2px 2px 20px 2px;
  text-align: center;
}
.weather .apiData .days .forecastDay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 480px) {
  .weather .apiData .days .forecastDay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.weather .apiData .days .forecastDay .dayContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 480px) {
  .weather .apiData .days .forecastDay .dayContainer {
    margin: 10px 0;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}